/* 4:58:30 */
body {
    background : linear-gradient(to top, rgb(8, 221, 221), white);
    /* font-size: 1cm; */
    /* text-transform: capitalize; */
    font-size: 1.15em;
    text-align: justify;
    


}

#about-us-image {
    height: 300px;
    width: 60%;
    border: 5px solid black;
    padding: 100px 10px 0px 5px; /* top right bottom left*/
    margin: 80px 40px; /* top/bottom left/right */
    float: right;
}

#title {
    color: #1b56d4;
    font-weight: 400;
    font-family: 'Neonderthaw', cursive, sans-serif;

}

.subtitle {
    color : #9291e2;
    font-family: 'Neonderthaw', cursive, sans-serif;
}

#service-image {
    height: 400px;
    width: 400px;
    background: radial-gradient(red 20%,blue 30%, yellow 40%);
    background-size: cover;
    border: 5px solid #2365cf;
}

.link {
    text-decoration: underline;
}

.italics {
    font-style: italic;
}

#about-us-image {
    height: 300px;
    width: 60vw;
}

.site-table {
    display: inline;
}

.container {
    background-color: white;
    margin:10px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container-item {
    background: rgb(36,130,39);
    color: white;
    font-size: 25px;
    text-align: center;
    width: 70px;
    line-height: 50px;
    margin: 10px;
}

.grid-container {
    overflow: hidden;
    background: white;
    margin: 10px;
    height: 500px;

    display: grid;
    grid-template-columns: auto auto auto; /*3 columns with specified size */
    grid-template-rows: auto auto;
    grid-gap: 300px 150px;
}

.grid-item {
    font-size: 25px;
    text-align: center;
    width: 70px;
    margin: 10px;
}

.submit-button {
    margin: 20px 10px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: rgb(89, 150, 255);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.submit-button:hover {
    color: rgb(89, 150, 255);
    background: white;
    padding: 20px 30px;

}