/* 2:04:25 */
body {
    background : linear-gradient(to top, rgb(8, 221, 221), white);

}

#title {
    color: #1b56d4;
}

.subtitle {
    color : #9291e2;
}

#service-image {
    height: 400px;
    width: 400px;
    background: radial-gradient(red 20%,blue 30%, yellow 40%);
    background-size: cover;

}

