:root {
	--var-padding: 10px 10px;
	--clr-lightblue: #1376df;
	--clr-orange: #f0b761;
	--clr-default: rgba(237, 200, 180, 0.488);
}

#main {
	font-family: 'Roboto', sans-serif;
	background-color: white;


}

.container {
    display: grid;
    grid-template-columns: 0.70fr 0.30fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "para-1 sidebar" "para-2 sidebar" "image-grid sidebar";
}
.sidebar {
    grid-area: sidebar;
	border-color: black;
	margin: var(--var-padding);
	margin-left: 3rem;
	border-radius: 1.5rem;
}
.para-1 {
	background-color: var(--clr-default);
	padding-left: 1rem;
    grid-area: para-1;
	margin: var(--var-padding);
	margin-bottom: 3rem;
	border-radius: 1.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subtitle {

	color: var(--clr-lightblue);
	text-transform: uppercase;
}
.para-2 {
	background-color: var(--clr-default);
    grid-area: para-2;
	padding-left: 1rem;
    margin: 10px 10px;
    margin: var(--var-padding);
	margin-bottom: 3rem;
	border-radius: 1.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-grid {
	background-color: var(--clr-default);
    grid-area: image-grid;
    margin: 10px;
	border-radius: 1.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.para-1 img {
	height: 10rem;
	width: 10rem;
}

.image-grid img {
	height: 10rem;
	width: 10rem;
	padding: 10px;
}

.image-grid img:hover {
    height: 12rem;
    width: 12rem;
}

.sidebar a:hover {
	color:red;
}

.post {
	background-color: var(--clr-orange);
	height: auto;
	margin-top: .5rem;
	border-radius: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post:hover {
	background-color: orange;
	margin-left: -1rem;
	margin-right: -1rem;
}
.post-title {
	font-size: 2rem;
	text-align: center;
}

.post-text {
	padding: 0 3rem;
	text-align: center;
	margin-bottom: 0;
}

.link {
	padding: 0 3rem;
	text-align: center;
	margin-top: 0;
}
